<div class="search">
    <h2>Search Anime Characters</h2>
    <form class="search-form">
        <mat-form-field class="search-form-field" appearance="fill">
        <input class="search-input w-s-60" type="text" matInput placeholder="Search" name= "search" [(ngModel)]= "search" (input)="filterList($event.target)">
        <mat-icon class='search-icon' color="primary" matPrefix>search</mat-icon>
        </mat-form-field>
        <br/>
        {{search}}
        </form>
    <p>{{ searchTxt }}</p>
</div>