<div class="search">
    <h1 class="search-text">Search Anime Characters</h1>
    <form class="search-form">
        <mat-form-field class="search-form-field" appearance="fill">
            <input class="search-input w-s-60" type="text" matInput placeholder="Search" name= "search" (input)="filterList($event.target)">
            <mat-icon class='search-icon' color="primary" matPrefix>search</mat-icon>
        </mat-form-field>
        </form>
    <p class="search-text">{{ totalMatchTxt }}</p>
</div>