<mat-card class="anime-card">
  <mat-card-content class="anime-content">
    <mat-card-title class="anime-title">
        <img mat-card-sm-image class="anime-img" src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
        <div class="anime-name-div">
            <h3 class="anime-name">Shiba Inu</h3>
            <div class="anime-alias-div">
                <p class="anime-alias"> bsld dfjdfk</p>
                <p class="anime-alias"> bsld dfjdfk</p>
            </div>
        </div>
    </mat-card-title>
    <mat-card-actions class="anime-card-action">
        <div mat-button class="arrow-btn-div">
            <mat-icon class="arrow-btn">arrow_forward</mat-icon>
        </div>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
