.anime-card {
    display: block;
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid;
    margin: auto;
    margin-top: 1rem;
    padding: 0;
    word-wrap: break-word
  }

.anime-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    border-right: solid;
    padding: 0.5rem;
    margin-bottom: 0rem;
}

.anime-title-mobile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: solid;
    padding: 0.5rem;
    margin-bottom: 0rem;
}

.anime-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.anime-name-div {
    width:90%;
}

.anime-name-div-mobile {
    display: flex;
    flex-direction: row;
}

.anime-name-fav-div {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-wrap: break-word;
}

.anime-name-fav-div-mobile {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-wrap: break-word;
    margin-left: 1rem;
}

.anime-name {
    margin-top: 0rem;
    margin-left: 1rem;
    margin-bottom: 0rem;
    width: 85%;
}

.anime-alias-div {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-wrap: break-word;
    // position: absolute;
}

.anime-alias {
    margin-left: 1rem;
    border: solid;
    padding: 0.2rem;
    border-radius: 0.5rem;
    background-color: #c9c8c7;
    position: relative;
}

.arrow-btn-div {
    margin-left: 2rem;
}

.arrow-btn-div-mobile {
    margin-left: 9rem;
    margin-right: auto;
    width: 100%;
}

.arrow-btn {
    font-size: 3rem;
    text-align: center;
    color: blue;
    margin-top: 1.5rem;
}

.arrow-btn-mobile {
    font-size: 3rem;
    text-align: center;
    color: blue;
}

.favorite-icon {
    color: red;
}

.favorite-icon-mobile {
    color: red;
    margin-left: 1rem;
}

.favorite-txt {
    margin-top: auto;
    margin-left: 1rem;
}

.favorite-txt-mobile {
    margin-top: 0rem;
}
 
  
  